@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");
:root {
  --orange: #ff7b00 !important;
}
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
  outline: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--orange);
  color: white;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.btn {
  width: 90px;
  background-color: #ff7b00;
  color: #fff;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  transition: width 2s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  transition: all 500ms ease;
  width: 120px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  padding: 2rem 3rem;
}

.heading {
  display: inline-block;
  color: orange;
  margin: 2rem 0;
  padding: 1rem;
  padding-top: 8rem;
  font-size: 3rem;
  border-bottom: 0.2rem solid var(--orange);
  width: 250px;
}
.heading:hover {
  width: 350px;
}

header .logo {
  font-size: 2rem;
  color: #fff;
  font-family: "Alfa Slab One", cursive !important;
}
header .logo span {
  color: var(--orange);
  font-family: "Alfa Slab One", cursive !important;
}

header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar li {
  margin: 0 1rem;
}
header .navbar ul li a {
  color: #fff;
  font-size: 2rem;
}
header .navbar ul li a:active {
  color: var(--orange);
}
header .navbar ul li a:hover {
  color: var(--orange);
}
header #menu {
  font-size: 3rem;
  color: var(--orange);
  cursor: pointer;
  display: none;
}

/**HOME SECTION**/
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.home h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  color: #4a4e69;
  font-family: "Alfa Slab One", cursive !important;
}

/**ABOUT SECTION**/
.about {
  background-color: black;
  margin: 0;
}

.about .row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 40rem;
  padding: 2rem;
}
.about .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 2rem;
  font-size: 2rem;
}

.about h1 {
  text-align: center;
  color: orange;
  margin: 2rem 0;
  padding: 1rem;
  padding-top: 8rem;
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive !important;
}

.about .row .content h3 {
  color: #ff7b00;
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive !important;
}
.about .row .content p {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/**SERVICES**/
.services {
  min-height: 100vh;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.services img {
  height: 20%;
  width: 20%;
  object-fit: cover;
}
.service-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.info {
  margin-top: 100px;
}
.info h3 {
  color: orange;
  font-size: 2rem;
  transition: width 2x;
}
.info h3:hover {
  width: 100px;
}

/**Showroom**/
.showroom-container {
  display: flex;
  margin-top: 40px;
}
.showroom {
  background-color: #fff;
}

.show-btn {
  width: 90px;
  background-color: #ff7b00;
  color: #fff;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  transition: all 1ss;
}
.show-btn:hover {
  background-color: black;
  width: 100px;
}

.product-container {
  margin-left: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  width: 410px;
  height: 420px;
}
.product-container img:hover {
  transform: perspective(900px) rotateY(45deg);
}

.product-container, .product2-container p {
  font-size: 1.5rem;
}
.product-container, .product2-container h3 {
  font-size: 1.5rem;
}

.product-container img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  margin-top: 10px;
}

.product-info {
  margin-left: 150px;
}

.product2-container {
  margin-left: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  width: 410px;
  height: 420px;
}

.product2-container img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  margin-top: 10px;
}

.product2-container img:hover {
  transform: perspective(900px) rotateY(45deg);
}

/**media-query**/
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    opacity: 0;
    width: 100%;
    background: #000;
    bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
  }
  header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    display: block;
  }

  header .navbar.nav-toggle {
    top: 8rem;
    opacity: 1;
  }
  .services {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }

  .showroom{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
